* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkseagreen;
    text-align: center;
}

h1 {
    font-size: 10vmin;
    padding: 20px 0px;
}

.form {
    padding-bottom: 40px;
}

#inputText {
    font-size: 3vmin;
    border-radius: 5px;
    padding: 10px;
    border: none;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    margin-right: 20px;
}

#inputText:focus {
    border: none;
    border-style: none;
}

#addBtn {
    font-size: 3vmin;
    border-radius: 5px;
    padding: 10px;
    border: none;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

#addBtn:hover {
    border: none;
    cursor: pointer;
}

.displayText {
    list-style-type: none;
}

.displayTextResult {
    display: flex;
    justify-content: center;
}

.displayTextResult > li {
    padding-right: 20px;
    font-size: 4vmin;
}

.complete, .delete {
    margin-left: 20px;
    font-size: 3vmin;
    padding: 5px 10px;
    border: none;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.complete:hover, .delete:hover {
    border: none;
    cursor: pointer;
}
